<template>
  <div class="w-full max-w-3xl mx-auto">
<!--Header-->
    <div class="flex dark:text-white w-full justify-between items-center mb-14">
      <div class="">
        <h1 class="text-lg mb-2 s:text-3xl font-bold">Invoices</h1>
        <p class="text-xs text-clr-grey-200 dark:text-clr-grey-100">There are {{ numberOfInvoices }} total invoices</p>
      </div>
      <div class="flex">
        <div class="flex items-center">
          <button class="flex items-center text-xs relative">
            <div @click.stop="handleClickFilter" class="flex items-center">
              <span class="mr-3 font-bold">Filter<span class="hidden s:inline"> by status</span></span>
              <img src="@/assets/images/icon-arrow-down.svg" alt="arrow-dropdown">
            </div>
            <!--Dropdown filter-->
            <div v-show="statusFilter" class="filter">
              <div class="flex flex-col w-36 p-4 absolute -bottom-32 left-2/4 transform -translate-x-2/4 text-xs text-left font-bold bg-white shadow-md rounded-md dark:bg-background-ld">
                <label class="filter filter-option mb-2 select-none cursor-pointer">
                  <input class="filter dark:bg-secondary-d" type="checkbox" v-model="filterCollection" :value='"isInvoicePaid"'>Paid
                </label>
                <label class="filter filter-option mb-2 select-none cursor-pointer">
                  <input class="filter" type="checkbox" v-model="filterCollection" :value='"isInvoicePending"'>Pending
                </label>
                <label class="filter filter-option select-none cursor-pointer">
                  <input class="filter" type="checkbox" v-model="filterCollection" :value='"isInvoiceSaved"'>Draft
                </label>
              </div>
            </div>
          </button>
        </div>
        <!--New invoice-->
        <div>
          <button @click="newInvoice"
                  class="inline-flex items-center py-2 pr-4 pl-2 ml-3 s:ml-10 min-w-5 text-xs text-white font-bold bg-primary-200 hover:bg-primary-100 rounded-3xl hover:bg-primary-100 transition duration-150">
            <div class="bg-white p-2 mr-2 rounded-2xl">
              <img src="@/assets/images/icon-plus.svg" alt="">
            </div>
            <span>New<span class="hidden s:inline"> Invoice</span></span>
          </button>
        </div>
      </div>
    </div>
<!--    Invoice List View-->
    <ListView :filterTags="filterCollection" class="mb-6"></ListView>
  </div>
</template>

<script>
import { ref } from "vue";
import { useStore } from 'vuex'
import { computed } from "vue";
import ListView from "../components/ListView";

export default {
  name: "Home",
  components: { ListView },
  setup(){
    const store = useStore()
    const filterCollection = ref([])
    const numberOfInvoices = computed(() => store.getters.getNumberOfInvoices)

    const statusFilter = computed( () => store.state.statusFilter)

    const newInvoice = () => {
      store.commit('TOGGLE_INVOICE')
      store.commit('TOGGLE_BACKDROP')
    }

    //Filter

    const handleClickFilter = () => {
      store.commit('TOGGLE_FILTER')
      if (statusFilter.value) {
        document.addEventListener("click",onGlobalClick);
      }
    }

    //Globally monitor click events
    const onGlobalClick = (e)=> {
      if (!Object.values(e.target.classList).includes('filter')) {
        store.commit('CLOSE_FILTER')
        document.removeEventListener("click", onGlobalClick);
      }
    }

    return { newInvoice, handleClickFilter, statusFilter, filterCollection, numberOfInvoices };
  }
};
</script>
