<template>
  <div v-if="currentInvoice" class="w-full max-w-3xl mx-auto">
    <button @click="goBack" class="flex items-baseline text-xs hover:text-primary-200 mb-8 dark:text-white dark:hover:text-clr-grey-200'">
      <img class="mr-6" src="@/assets/images/icon-arrow-left.svg" alt="">
      <span class="hover:text-primary-300 transition-colors duration-300">Go back</span>
    </button>
    <div class="text-xs text-clr-grey-200 dark:text-clr-grey-100">
      <div class="flex items-center sm:justify-between w-full p-6 mb-4 bg-white dark:bg-secondary-d rounded-lg shadow-md">
        <div class="w-full sm:w-max flex items-center justify-between">
          <span class="mr-auto sm:mr-4 dark:text-clr-grey-100">Status</span>
          <StatusButton :invoice="currentInvoice"></StatusButton>
        </div>
        <div class="hidden sm:flex ml-auto">
          <ActionButtons :invoice="currentInvoice" />
        </div>
      </div>
      <InvoiceTable :invoice="currentInvoice"/>
      <div class="flex justify-end p-6 bg-white dark:bg-secondary-d rounded-lg shadow-md sm:hidden">
        <ActionButtons :invoice="currentInvoice"></ActionButtons>
      </div>
    </div>
  </div>

</template>

<script>
import {useRouter} from "vue-router"
import StatusButton from "../components/StatusButton";
import InvoiceTable from "../components/InvoiceTable";
import ActionButtons from "../components/ActionButtons";
import { useStore } from "vuex";
import { computed, ref, watch } from "vue";

export default {
  name: "InvoiceDetails",
  components: { ActionButtons, InvoiceTable, StatusButton },
  props: ['id'],
  setup(props) {
    const store = useStore()
    const router = useRouter()
    const currentInvoice = ref('')
    const isInvoiceEditing = computed(() => store.state.isInvoiceEditing)

    store.commit('SET_CURRENT_INVOICE', props.id)
    const currentInvoiceArray = computed(() => store.state.currentInvoiceArray)
    currentInvoice.value = currentInvoiceArray.value[0]

    const goBack = () => {
      router.go(-1)
    }

    //watching invoice form changes
    watch(isInvoiceEditing, () => {
      if(!isInvoiceEditing.value) {
        currentInvoice.value = currentInvoiceArray.value[0]
      }
    })

    return { goBack, currentInvoice }
  }
};
</script>

<style scoped>

</style>