<template>
  <div class="">
    <button @click="handleEdit" class="btn btn-light">Edit</button>
    <button @click="deleteInvoice(invoice.docId)" class="btn btn-delete">Delete</button>
    <button @click="updateInvoiceToPaid(invoice.docId)" v-if="invoice.isInvoicePending" class="btn btn-primary">Mark as Paid</button>
    <button @click="updateInvoiceToPending(invoice.docId)" v-if="invoice.isInvoicePaid || invoice.isInvoiceSaved" class="btn btn-primary">Mark as Pending</button>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import useDocument from "../composables/useDocument";


export default {
  name: "ActionButtons",
  props: ['invoice'],
  setup(props){
    const store = useStore()
    const router = useRouter()
    const { deleteDoc, updateDoc } = useDocument('invoices', props.invoice.docId)

    const handleEdit = () => {
      store.commit('TOGGLE_EDIT_INVOICE')
      store.commit('TOGGLE_INVOICE')
      store.commit('TOGGLE_BACKDROP')
    }

    const deleteInvoice = async (docId) => {
      await deleteDoc()
      store.commit ('DELETE_INVOICE', docId)
      router.push({ name: 'Home'})
    }

    const updateInvoiceToPaid = async (docId) => {
      await updateDoc({
        isInvoicePaid: true,
        isInvoicePending: false,
      })
      store.commit('UPDATE_TO_PAID', docId)

    }

    const updateInvoiceToPending = async (docId) => {
      await updateDoc({
        isInvoicePaid: false,
        isInvoicePending: true,
      })
      store.commit('UPDATE_TO_PENDING', docId)
    }

    return { handleEdit, deleteInvoice, updateInvoiceToPaid, updateInvoiceToPending }
  }
};
</script>

<style scoped>

</style>