<template>
  <div class="invoice-modal bg-white dark:bg-background-form-d fixed z-20 top-20 lg:top-0 left-0 lg:pl-24 rounded-r-3xl">
    <form @submit.prevent="submitForm" class="grid text-xs w-full max-w-2xl px-8 pt-8 xs:px-10 xs:pt-10 sm:px-12 sm:pt-12 h-cal lg:h-screen dark:text-white">
      <div class="flex items-baseline mb-12">
        <h1 v-if="!isInvoiceEditing" class="text-2xl font-bold">Create Invoice</h1>
        <h1 v-else class="text-2xl font-bold mb-12">Edit Invoice</h1>
<!--        for testing-->
        <button v-if="!isInvoiceEditing" @click="autoFillInvoice" type="button" class="ml-auto text-clr-grey-200 dark: underline tracking-wide">AutoFill Invoice</button>
      </div>
<!--Invoice form-->
      <div class="flex flex-col gap-8 w-full overflow-y-scroll pr-6 pb-4 pl-px">
<!--      Bill from -->
        <fieldset>
          <legend class="text-primary-200">Bill From</legend>
          <div class="grid gap-6">
            <div class="form-field col-span-2 sm:col-span-3">
              <label for="senderStreetAddress">Street Address</label>
              <input class="" required type="text" id="senderStreetAddress" v-model="senderStreetAddress">
            </div>
            <div class="form-field">
              <label for="senderCity">City</label>
              <input required type="text" id="senderCity" v-model="senderCity">
            </div>
            <div class="form-field">
              <label for="senderPostCode">Post Code</label>
              <input required type="text" id="senderPostCode" v-model="senderPostCode">
            </div>
            <div class="form-field col-span-2 sm:col-span-1">
              <label for="senderCountry">Country</label>
              <input required type="text" id="senderCountry" v-model="senderCountry">
            </div>
          </div>
        </fieldset>
<!--        Bill to-->
        <fieldset>
          <legend>Bill to</legend>
          <div class="grid gap-6">
            <div class="form-field col-span-2 sm:col-span-3">
              <label for="clientName">Client's Name</label>
              <input required type="text" id="clientName" v-model="clientName">
            </div>
            <div class="form-field col-span-2 sm:col-span-3">
              <label for="clientEmail">Client's Email</label>
              <input required type="text" id="clientEmail" placeholder="e.g.email@example.com" v-model="clientEmail">
            </div>
            <div class="form-field col-span-2 sm:col-span-3">
              <label for="clientStreetAddress">Street Address</label>
              <input required type="text" id="clientStreetAddress" v-model="clientStreetAddress">
            </div>
            <div class="form-field">
              <label for="clientCity">City</label>
              <input required type="text" id="clientCity" v-model="clientCity">
            </div>
            <div class="form-field">
              <label for="clientPostCode">Post Code</label>
              <input required type="text" id="clientPostCode" v-model="clientPostCode">
            </div>
            <div class="form-field col-span-2 sm:col-span-1">
              <label for="clientCountry">Country</label>
              <input required type="text" id="clientCountry" v-model="clientCountry">
            </div>
          </div>
        </fieldset>
<!--        Invoice Payment Details-->
        <fieldset>
          <div class="grid gap-6">
            <div class="form-field">
              <label for="invoiceDate">Invoice Date</label>
              <input disabled type="text" id="invoiceDate" v-model="invoiceDate">
            </div>
            <div class="form-field">
              <label for="paymentDueDate">Payment Due Date</label>
              <input disabled type="text" id="paymentDueDate" v-model="paymentDueDate">
            </div>
            <div class="form-field col-span-2">
              <label for="paymentTerms">Payment Terms</label>
              <select id="paymentTerms" v-model="paymentTerms">
                <option value="30">Net 30 Days</option>
                <option value="60">Net 60 Days</option>
              </select>
            </div>
            <div class="form-field col-span-2">
              <label for="description">Description</label>
              <input type="text" id="description" v-model="description">
            </div>
          </div>
        </fieldset>
<!--        Invoice Items Details-->
        <fieldset>
          <legend class="text-lg">Item List</legend>
<!--          Item description-->
          <div v-for="(item, index) in invoiceItemList" :key="index" class="grid gap-y-6 gap-x-4 grid-cols-ss sm:grid-cols-ls mb-12">
            <div class="form-field col-span-full sm:col-span-1">
              <label for="itemName">Item Name</label>
              <input required type="text" id="itemName" v-model="item.itemName">
            </div>
            <div class="form-field">
              <label for="itemQuantity">Qty.</label>
              <input required type="number" min="1" id="itemQuantity" v-model="item.quantity">
            </div>
            <div class="form-field col-span-2 sm:col-span-1">
              <label for="itemPrice">Price</label>
              <input required type="number" min="0" id="itemPrice" v-model="item.price">
            </div>
            <div class="form-field col-span-2 sm:col-span-1">
              <label for="itemTotalPrice">Total</label>
              <input class="border-none" disabled type="text" id="itemTotalPrice" :value="item.total = item.quantity * item.price">
            </div>
            <button @click="deleteInvoiceItem(item.id)" type="button" class="flex items-center justify-center self-end h-12 text-clr-grey-200">
              <svg class="fill-current hover:fill-red" width="13" height="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.583 3.556v10.666c0 .982-.795 1.778-1.777 1.778H2.694a1.777 1.777 0 01-1.777-1.778V3.556h10.666zM8.473 0l.888.889h3.111v1.778H.028V.889h3.11L4.029 0h4.444z" fill-rule="nonzero"/>
              </svg>
            </button>
          </div>
          <!--Add new item-->
          <button @click="addNewInvoiceItem" class="btn btn-light block w-full" type="button">+ Add New Item</button>
        </fieldset>
      </div>
<!--Invoice buttons-->
      <div v-if="!isInvoiceEditing" class="flex py-10">
        <button @click="discardInv" type="button" class="btn btn-light mr-auto">Discard</button>
        <button @click="saveInv" type="button" class="btn btn-dark">Save as Draft</button>
        <button @click="publishInv" v-if="!isPending" type="submit" class="btn btn-primary">Save & Send</button>
        <button v-else disabled class="btn bg-secondary-l">Saving..</button>
      </div>
      <div v-else class="flex py-10">
        <button @click="cancelEditing" type="button" class="btn btn-light ml-auto">Cancel</button>
        <button v-if="!isPending" type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </form>
  </div>
</template>

<script>
import { computed, ref, watch } from "vue";
import { useStore } from 'vuex'
import { uid } from 'uid';
import useCollection from "../composables/useCollection";
import { timestamp } from "../firebase/config";
import useDocument from "../composables/useDocument";



export default {
  name: "InvoiceForm",
  setup(){
    const store = useStore()
    const { addDoc, error } = useCollection('invoices')
    //current invoice reference
    const currentInvoice = ref('')
    const currentInvoiceArray = computed(() => store.state.currentInvoiceArray)
    currentInvoice.value = currentInvoiceArray.value[0]

    const isInvoiceEditing = computed( () => store.state.isInvoiceEditing)
    const isPending = ref(false)

    //Invoice values:
    const docId = ref(null)
    const senderStreetAddress = ref(null)
    const senderCity = ref(null)
    const senderPostCode = ref(null)
    const senderCountry = ref(null)

    const clientName = ref(null)
    const clientEmail = ref(null)
    const clientStreetAddress = ref(null)
    const clientCity = ref(null)
    const clientPostCode = ref(null)
    const clientCountry = ref(null)

    const invoiceDate = ref(null)
    const paymentDueDate = ref(null)
    const paymentTerms = ref(null)
    const description = ref(null)

    const invoiceItemList = ref([])
    const invoiceTotal = ref(null)

    const isInvoicePending = ref(null)
    const isInvoiceSaved = ref(null)
    const isInvoicePaid = ref(null)


    // create current date for invoice date field
    const options = {year: 'numeric', month: 'long', day: 'numeric' };
    if(!isInvoiceEditing.value) {
      invoiceDate.value = new Date().toLocaleDateString(undefined, options)
    }

    //Editing invoice
    if(isInvoiceEditing.value) {
      docId.value = currentInvoice.value.docId

      //populate invoice form with data
      senderStreetAddress.value = currentInvoice.value.clientCity
      senderCity.value = currentInvoice.value.senderCity
      senderPostCode.value = currentInvoice.value.senderPostCode
      senderCountry.value = currentInvoice.value.senderCountry

      clientName.value = currentInvoice.value.clientName
      clientEmail.value = currentInvoice.value.clientEmail
      clientStreetAddress.value = currentInvoice.value.clientStreetAddress
      clientCity.value = currentInvoice.value.clientCity
      clientPostCode.value = currentInvoice.value.clientPostCode
      clientCountry.value = currentInvoice.value.clientCountry

      invoiceDate.value = currentInvoice.value.invoiceDate
      paymentDueDate.value = currentInvoice.value.paymentDueDate
      paymentTerms.value = currentInvoice.value.paymentTerms
      description.value = currentInvoice.value.description

      invoiceItemList.value = currentInvoice.value.invoiceItemList
      invoiceTotal.value = currentInvoice.value.invoiceTotal

      isInvoicePending.value = currentInvoice.value.isInvoicePending
      isInvoiceSaved.value = currentInvoice.value.isInvoiceSaved
      isInvoicePaid.value = currentInvoice.value.isInvoicePaid
    }


    //generate a payment day
    watch(paymentTerms, () => {
      const futureDate = new Date()
      paymentDueDate.value = new Date(futureDate.setDate(futureDate.getDate() + parseInt(paymentTerms.value))).toLocaleDateString(undefined, options)
    })
    //invoice Total
    const sumInvoiceTotalAmnout = () => {
      invoiceTotal.value = 0
      invoiceItemList.value.forEach(item => {invoiceTotal.value += item.total})
    }
    
    //add new invoice items
    const addNewInvoiceItem = () => {
      invoiceItemList.value.push({
        id: uid(16),
        itemName: "",
        quantity: 1,
        price: 0,
        total: 0,
      })
    }

    const deleteInvoiceItem = (id) => {
      invoiceItemList.value = invoiceItemList.value.filter(item => item.id !== id)
    }

    //invoice buttons
    const saveInv = () => {
      isInvoicePending.value = false
      isInvoiceSaved.value = true
      uploadInvoice()

    }

    const publishInv = () => {
      isInvoiceSaved.value = false
      isInvoicePending.value = true
    }

    const discardInv = () => {
      store.commit('TOGGLE_INVOICE')
      store.commit('TOGGLE_BACKDROP')
    }

    const cancelEditing = () => {
      store.commit('TOGGLE_EDIT_INVOICE')
      discardInv()
    }

    // Form Submission

    const uploadInvoice = async () => {
      if(invoiceItemList.value.length <=0){
        alert('Please, add at least one invoice item.')
        return
      }
      isPending.value = true
      sumInvoiceTotalAmnout()

      await addDoc({
        invoiceId: uid(8),
        createdAt: timestamp(),
        senderStreetAddress: senderStreetAddress.value,
        senderCity: senderCity.value,
        senderPostCode: senderPostCode.value,
        senderCountry: senderCountry.value,
        clientName: clientName.value,
        clientEmail: clientEmail.value,
        clientStreetAddress: clientStreetAddress.value,
        clientCity: clientCity.value,
        clientPostCode: clientPostCode.value,
        clientCountry: clientCountry.value,
        invoiceDate: invoiceDate.value,
        paymentDueDate: paymentDueDate.value,
        paymentTerms: paymentTerms.value,
        description: description.value,
        invoiceItemList: invoiceItemList.value,
        invoiceTotal: invoiceTotal.value,
        isInvoicePending: isInvoicePending.value,
        isInvoiceSaved: isInvoiceSaved.value,
        isInvoicePaid: isInvoicePaid.value,
      });
      isPending.value = false
      if (!error.value){
        discardInv()
      }
      await store.dispatch('GET_INVOICES')
    }

    const updateInvoice = async () => {
      const { updateDoc } = useDocument('invoices', currentInvoice.value.docId)
      if(invoiceItemList.value.length <=0){
        alert('Please, add at least one invoice item.')
        return
      }
      isPending.value = true
      sumInvoiceTotalAmnout()

      await updateDoc({
        senderStreetAddress: senderStreetAddress.value,
        senderCity: senderCity.value,
        senderPostCode: senderPostCode.value,
        senderCountry: senderCountry.value,
        clientName: clientName.value,
        clientEmail: clientEmail.value,
        clientStreetAddress: clientStreetAddress.value,
        clientCity: clientCity.value,
        clientPostCode: clientPostCode.value,
        clientCountry: clientCountry.value,
        paymentDueDate: paymentDueDate.value,
        paymentTerms: paymentTerms.value,
        description: description.value,
        invoiceItemList: invoiceItemList.value,
        invoiceTotal: invoiceTotal.value,
      });
      isPending.value = false

      await store.dispatch('UPDATE_INVOICE',docId.value)
    }


    const submitForm = () => {
      if (isInvoiceEditing.value) {
        updateInvoice();
        return;
      }
      uploadInvoice()
    }

    //Only for testing version:
      //AutoFill new invoice
      const autoFillInvoice = () => {
        senderStreetAddress.value = '19 Union Terrace'
        senderCity.value = 'London'
        senderPostCode.value = 'E1 3EZ'
        senderCountry.value = 'United Kingdom'

        clientName.value = 'Mellisa Clarke'
        clientEmail.value = 'mellisa.clarke@example.com'
        clientStreetAddress.value = '46 Abbey Row'
        clientCity.value = 'Cambridge'
        clientPostCode.value = 'CB5 6EG'
        clientCountry.value = 'United Kingdom'

        paymentTerms.value = '30'
        description.value = 'Re-branding'

        invoiceItemList.value.push({
          id: uid(16),
          itemName: "New Logo",
          quantity: 1,
          price: 1500,
          total: 1500,
        })
      }

    return {
      isInvoiceEditing,
      senderStreetAddress,
      senderCity,
      senderPostCode,
      senderCountry,
      clientName,
      clientEmail,
      clientStreetAddress,
      clientCity,
      clientPostCode,
      clientCountry,
      invoiceDate,
      paymentDueDate,
      paymentTerms,
      description,
      invoiceItemList,
      discardInv,
      addNewInvoiceItem,
      deleteInvoiceItem,
      isPending,
      saveInv,
      publishInv,
      submitForm,
      cancelEditing,
      autoFillInvoice
    }
  }
};
</script>

<style scoped>

</style>