<template>
  <section v-if="invoice" class="grid auto-cols-min grid-cols-2 md:grid-cols-custom-3 gap-y-8 md:gap-y-4 gap-x-4 md:gap-y-8 w-full p-6 mb-4 rounded-xl bg-white dark:bg-secondary-d shadow-md">
    <div class="col-span-2">
      <h1 class="text-black dark:text-white uppercase font-bold"><span class="text-primary-300">#</span>{{ invoice.invoiceId }}</h1>
      <span>{{invoice.description}}</span>
    </div>
    <div class="col-span-2 md:col-span-1 md:text-right flex flex-col text-xxs">
      <span>{{ invoice.senderStreetAddress }}</span>
      <span>{{ invoice.senderCity }}</span>
      <span>{{ invoice.senderPostCode }}</span>
      <span>{{ invoice.senderCountry }}</span>
    </div>
    <div class="flex flex-col col-span-1 justify-between">
      <div class="flex flex-col">
        <span>Invoice Date</span>
        <span class="text-sm font-semibold text-black dark:text-clr-grey-100">{{invoice.invoiceDate}}</span>
      </div>
      <div class="flex flex-col">
        <span class="">Payment Due</span>
        <span class="text-sm font-semibold text-black dark:text-white">{{invoice.paymentDueDate}}</span>
      </div>
    </div>
    <div class="flex flex-col col-span-1">
      <div class="mb-2">
        <div>Bill To</div>
        <span class="text-sm font-semibold text-black dark:text-white">{{ invoice.clientName }}</span>
      </div>
      <span>{{invoice.clientStreetAddress}}</span>
      <span>{{invoice.clientCity}}</span>
      <span>{{invoice.clientPostCode}}</span>
      <span>{{invoice.clientCountry}}</span>
    </div>
    <div class="flex flex-col">
      <span class="">Sent to</span>
      <span class="text-base font-semibold text-black dark:text-white">{{invoice.clientEmail}}</span>
    </div>
    <div class="invoice-items row-start-6 row-end-7 md:row-start-5 md:row-end-6 col-span-2 md:col-span-3 bg-clr-btn-grey dark:bg-background-ld rounded-lg pt-8 overflow-hidden">
      <table class="w-full font-bold">
        <thead class="hidden md:table-header-group">
        <tr>
          <th class="text-left">Item Name</th>
          <th>QTY.</th>
          <th class="text-right">Price</th>
          <th class="text-right">Total</th>
        </tr>
        </thead>
        <tbody v-for="item in invoice.invoiceItemList" :key="item.id" class="">
          <tr>
            <td class="text-secondary-l dark:text-white">{{item.itemName}}</td>
            <td class="hidden md:table-cell text-center">{{item.quantity}}</td>
            <td class="hidden md:table-cell text-right">{{item.price}}<span> Kč</span></td>
            <td class="text-right text-secondary-l dark:text-white">{{item.total}}<span> Kč</span></td>
          </tr>
        </tbody>
        <tfoot class="bg-secondary-l dark:bg-clr-btn-dark text-white">
        <tr>
          <th class="text-left pt-8">Amount Due</th>
          <td class="hidden md:table-cell"></td>
          <td class="hidden md:table-cell"></td>
          <td class="text-right text-2xl pt-8">{{invoice.invoiceTotal}}<span> Kč</span></td>
        </tr>
        </tfoot>
      </table>
    </div>
  </section>
</template>

<script>

export default {
  name: "InvoiceTable",
  props: ['invoice'],
};
</script>

<style scoped>

</style>