<template>
  <div class="flex gap-4 flex-col">
    <div v-for="invoice in filteredData" :key="invoice.invoiceId" class="">
      <router-link :to="{name: 'InvoiceDetails', params: {id: invoice.docId}}"
                   class="grid md:items-center grid-rows-invoice-layout-sm md:grid-rows-invoice-layout-lg md:grid-cols-invoice-layout-lg py-4 px-6 rounded text-xs bg-white dark:bg-secondary-d border border-transparent hover:border-primary-200 transition ease-in-out duration-300 dark:text-white">
        <h2 class="mb-4 md:mb-0 text-black dark:text-white uppercase font-bold"><span class="text-primary-300">#</span>{{ invoice.invoiceId }}</h2>
        <div class="text-clr-grey-200 dark:text-clr-grey-100">Due {{ invoice.paymentDueDate }}</div>
        <div
          class="row-start-1 row-end-2 col-start-2 col-end-3 md:col-start-3 md:col-end-4 md:mr-10 text-right md:text-left text-clr-grey-200 dark:text-white font-medium tracking-wide">
          {{ invoice.clientName }}
        </div>
        <div class="text-base font-bold">{{ invoice.invoiceTotal }}&#75;&#269;</div>
        <StatusButton :invoice="invoice"></StatusButton>
        <div class="md:flex items-center hidden md:col-start-6 md:col-end-7 w-2 h-full">
          <img src="../assets/images/icon-arrow-right.svg" alt="arrow-dropdown">
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import { computed } from "vue";
import { useStore } from "vuex";
import StatusButton from "./StatusButton";

export default {
  name: "ListView",
  components: { StatusButton },
  props:['filterTags'],
  setup(props){
    const store = useStore()
    const invoices = computed(()=> store.state.invoicesData)

    const filteredData = computed(() => {
      if(props.filterTags.length <= 0){
        return invoices.value
      }
      let documents = []
      props.filterTags.forEach(tag => {
        let tagInvoicesSet = invoices.value.filter(invoice => {
          return invoice[tag] === true
        })
        tagInvoicesSet.forEach( set => documents.push(set))
      })
      return documents
    })






    return { filteredData }
  }
};
</script>

<style scoped>

</style>