<template>
  <header class="flex lg:flex-col lg:items-center bg-secondary-l dark:bg-secondary-d sticky top-0 z-50 lg:rounded-large lg:h-screen">
    <div class="logo flex justify-center items-center w-20 lg:w-24 h-20 lg:h-24 p-2 mr-auto lg:mb-auto lg:mr-0 bg-primary-200 relative rounded-large">
      <img class="w-31 h-29 z-10" src="@/assets/images/logo.svg">
    </div>
    <button @click="changeMode" class="mx-7 lg:mx-0 lg:my-7">
      <img v-if="isDarkMode" src="@/assets/images/icon-moon.svg" alt="theme-switcher">
      <img v-else src="@/assets/images/icon-sun.svg" alt="theme-switcher">
    </button>
    <div class="w-px lg:w-full lg:h-px bg-gray-600"></div>
    <button class="mx-6 lg:mx-0 lg:my-6">
      <svg class="fill-current text-primary-100 h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 513.323 513.323"><path d="M256.661 257.323c-135.275 0-245.333 110.059-245.333 245.333 0 5.888 4.779 10.667 10.667 10.667s10.667-4.779 10.667-10.667c0-123.52 100.48-224 224-224s224 100.48 224 224c0 5.888 4.779 10.667 10.667 10.667s10.667-4.779 10.667-10.667c-.001-135.296-110.06-245.333-245.335-245.333zM256.661 0c-64.683 0-117.333 52.629-117.333 117.333s52.651 117.333 117.333 117.333 117.333-52.629 117.333-117.333S321.344 0 256.661 0zm0 213.333c-52.928 0-96-43.072-96-96s43.072-96 96-96 96 43.072 96 96-43.072 96-96 96z"/></svg>
    </button>
  </header>
</template>

<script>
import { ref } from "vue";

export default {
  name: "Navigation",
  setup(props, context) {
    const isDarkMode = ref(false)

    const changeMode = () => {
      isDarkMode.value = !isDarkMode.value
      context.emit('toggleMode', isDarkMode.value)
    }

    return {isDarkMode, changeMode}
  }
};
</script>

<style scoped>

.logo::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background-color: #9277ff;
  border-radius: 20px 0px 20px 0px;
}
</style>