<template>
  <div class="flex fixed z-30 w-full items-center justify-center h-screen p-8 text-sm">
    <div class="max-w-md rounded-lg pt-5 px-4 pb-4 s:px-7 s:pt-8 s:pb-6 bg-secondary-l text-white">
      <p class="text-center mb-8">
        Changes will not be saved. Do you want to proceed?
      </p>
      <div class="flex justify-center">
        <button @click="togglePopup" class="btn btn-light">Return</button>
        <button @click="discardInv" class="btn btn-primary">Discard</button>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed } from "vue";

export default {
  name: "PopupModal",
  setup(){
    const store = useStore()
    const isInvoiceEditing = computed(()=> store.state.isInvoiceEditing)

    const togglePopup = () => store.commit('TOGGLE_POPUP')
    const discardInv = () => {
      if(isInvoiceEditing.value) {
        store.commit('TOGGLE_EDIT_INVOICE')
      }
      togglePopup()
      store.commit('TOGGLE_INVOICE')
      store.commit('TOGGLE_BACKDROP')
    }

    return {togglePopup, discardInv}
  }
};
</script>

<style scoped>

</style>