<template>
  <div class="flex justify-center items-center justify-self-end self-center rounded
              row-start-2 row-end-4 md:row-start-1 md:row-end-2 col-start-2 col-end-3
              md:col-start-5 md:col-end-6 h-10 w-28 md:ml-10 md:mr-5"
       :class="{ pending: invoice.isInvoicePending, paid: invoice.isInvoicePaid, draft: invoice.isInvoiceSaved}"
  >
    <div v-if="invoice.isInvoicePaid" class="flex justify-center items-center">
      <div class="w-2 h-2 mr-2 rounded-full bg-green-400"></div>
      <span class="font-bold">Paid</span>
    </div>
    <div v-if="invoice.isInvoicePending" class="flex justify-center items-center">
      <div class="w-2 h-2 mr-2 rounded-full bg-yellow-500"></div>
      <span class="font-bold">Pending</span>
    </div>
    <div v-if="invoice.isInvoiceSaved" class="flex justify-center items-center">
      <div class="w-2 h-2 mr-2 rounded-full bg-secondary-l dark:bg-clr-grey-100"></div>
      <span class="font-bold">Draft</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "StatusButton",
  props: ['invoice']
};
</script>

<style scoped>

</style>