@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    /*form plugin custom style*/
    [type='checkbox'],
    [type='radio'] {
        @apply focus:ring-0 focus:ring-offset-0 h-4 w-4 rounded-sm mr-4 bg-gray-200 dark:bg-secondary-d border-gray-200 dark:border-secondary-d text-primary-200 cursor-pointer;
    }
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply text-xs font-bold w-full py-3.5 rounded-md border-clr-grey-100 dark:border-background-ld focus:border-primary-100 focus:ring-primary-100 dark:bg-background-ld
    }

    input::placeholder,
    textarea::placeholder {
        color: theme('colors.gray.300');
    }

    /*Basic style*/
    body {
        @apply font-body;
    }
    legend {
        @apply text-sm text-primary-200 font-bold mb-6
    }
    fieldset label {
        @apply text-clr-grey-200 dark:text-clr-grey-100 tracking-wide
    }
    thead th{
        @apply font-medium
    }
    .invoice-items th,
    .invoice-items td {
        @apply pb-8
    }
    .invoice-items th:nth-child(1),
    .invoice-items td:nth-child(1){
        @apply pl-8
    }
    .invoice-items th:last-child,
    .invoice-items td:last-child{
        @apply pr-8
    }
    /*utility classes*/
    .form-field {
        @apply flex flex-col gap-2.5
    }
    .btn {
        @apply p-4 xxs:px-6 xxs:py-4 mr-2 text-white font-bold rounded-3xl transition duration-300
    }
    .btn-light {
        @apply bg-clr-btn-grey hover:bg-clr-grey-100 text-primary-300 dark:bg-background-ld dark:text-clr-grey-100 dark:hover:bg-secondary-l
    }
    .btn-dark {
        @apply bg-secondary-l hover:bg-clr-btn-dark text-clr-grey-200
    }
    .btn-primary {
        @apply bg-primary-200 hover:bg-primary-100
    }
    .btn-delete {
        @apply bg-red-500 hover:bg-red-300
    }
    .filter-option:hover > input {
        @apply border-primary-200
    }
    /*status buttons*/
    .paid{
        @apply bg-green-50 text-green-400 dark:bg-opacity-10
    }
    .pending{
        @apply bg-yellow-50 text-yellow-500 dark:bg-opacity-10
    }
    .draft{
        @apply bg-gray-50 text-gray-700 dark:text-clr-grey-100 dark:bg-opacity-10
    }
}

@layer utilities {
    @variants responsive {
        .rounded-large{
            border-radius: 0px 20px 20px 0px;
        }
        .min-w-90{
            min-width: 90px;
        }
    }
    .min-w-5{
        min-width: 5.8rem;
    }
    .h-cal {
        height: calc(-5rem + 100vh);
    }
}