<template>
  <div :class="isDarkMode ? 'dark' : '' ">
    <div v-if="invoicesPending" class="app flex flex-col lg:flex-row min-h-screen bg-background-l dark:bg-background-d">
      <PopupModal v-if="isPopupActive" />
      <Navigation @toggleMode="toggleMode"/>
      <div class="flex flex-col flex-1 py-8 px-6 md:px-12 md:py-14 xlg:pt-12 xlg:pb-6 xlg:py-16 relative">
        <div @click="togglePopup" v-if="isInvoiceModalActive"
             class="bg-gradient absolute z-10 top-0 left-0 h-full w-full bg-gray-400 bg-opacity-50"></div>
        <transition name="invoice">
          <InvoiceForm v-if="invoiceForm" />
        </transition>
        <router-view />
        <!--    frontend mentors-->
        <div class="text-center text-xs mt-auto">
          Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" class="text-primary-100">Frontend
          Mentor</a>. Coded by <a href="#" class="text-primary-100">Sabina Slováková</a>.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "./components/Navigation";
import InvoiceForm from "./components/InvoiceForm";
import PopupModal from "./components/PopupModal";

import { computed, ref } from "vue";
import { useStore } from 'vuex'


export default {
  name: "App",
  components: { PopupModal, Navigation, InvoiceForm },
  setup(){
    const store = useStore()
    store.dispatch('GET_INVOICES')
    const invoicesPending = computed(() => store.state.invoicesPending)

    const invoiceForm = computed( () => store.state.invoiceForm)
    const isInvoiceModalActive = computed(() => store.state.isInvoiceModalActive)
    const isPopupActive = computed(()=> store.state.isPopupActive)

    const isDarkMode = ref(false)


    const togglePopup = () => {
      store.commit('TOGGLE_POPUP')
    }

    const toggleMode = (mode) => {
      isDarkMode.value = mode
    }
    
    return { invoiceForm, isInvoiceModalActive, isPopupActive, togglePopup, invoicesPending, toggleMode, isDarkMode }
  }
}

</script>

<style>
/* animated invoice form */

.invoice-enter-active,
.invoice-leave-active {
  transition: 0.8s ease all;
}

.invoice-enter-from,
.invoice-leave-to {
  transform: translateX(-700px);
}


</style>
